{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{{base_url}}/static/js/dashboard.js"></script>
<script>
    var data1 = "{{ modules|escapejs }}"
</script>

<div>
    <h2>OEA Version: {{ oea_version }}</h2><br>
    <h2>Linked Storage Account: {{ storage_account }}</h2><br>
    <button type="submit" id="modulesBtn" class="btn btn-primary">Installed Modules</button><br>
    <button type="submit" id="packagesBtn" class="btn btn-primary">Installed Packages</button><br>
    <button type="submit" id="schemasBtn" class="btn btn-primary">Installed Schemas</button><br>

    <table class="installedAssetsTable" id="installedAssetsTable" align="center" style="width:80%">
        <tbody class="installedAssetsTableBody" id="installedAssetsTableBody">
            <tr>
                <th>Asset Name</th>
                <th>Version</th>
                <th>Last Updated Time</th>
                <th>Delete</th>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}