
{% load static %}
{% block content %}
  <script>
    var base_url = (document.URL).slice(0, -1)
    $.ajax({
        type: 'GET',
        url: `${base_url}/home`,
        data : { 'base_url': base_url},
        success : function(json) {
          window.location.href = url
        }
    })
  </script>
  <h3>New to OEA? Click here to Install OEA in your Azure Subscription.</h3>

  <form>
    <label for="TenantSelect">Tenant:</label>
    <select name="TenantSelect" id="TenantSelect">
      {% if tenants %}
        {% for tenant in tenants %}
        <option value="{{ tenant }}">{{ tenant }}</option>
        {% endfor %}
      {% endif %}
    </select>

    <label for="SubscriptionSelect">Subscription:</label>
    <select name="SubscriptionSelect" id="SubscriptionSelect">
      {% if subscriptions %}
        {% for subscription in subscriptions %}
        <option value="{{ subscription.subscription_id }}">{{ subscription.subscription_name }} - ({{ subscription.subscription_id }})</option>
        {% endfor %}
      {% endif %}
    </select>

    <label for="WorkspaceSelect">Workspace:</label>
    <select name="WorkspaceSelect" id="WorkspaceSelect">
      {% if workspaces %}
        {% for workspace in workspaces %}
        <option value="{{ workspace.workspace_name }}">{{ workspace.workspace_name }}</option>
        {% endfor %}
      {% endif %}
    </select>
  </form>
{% endblock %}