.vs/
oea/packages/package_catalog/Verified_Credentials/vc-onboarding/obj/
packages/package_catalog/Verified_Credentials/vc-onboarding/obj/Debug/net5.0/project.razor.json
packages/package_catalog/Verified_Credentials/vc-onboarding/obj/Debug/net5.0/vc-onboarding.GeneratedMSBuildEditorConfig.editorconfig
packages/package_catalog/Verified_Credentials/vc-onboarding/obj/Debug/net5.0/project.razor.json
packages/package_catalog/Verified_Credentials/vc-onboarding/obj/Debug/net5.0/vc-onboarding.GeneratedMSBuildEditorConfig.editorconfig
framework/infrastructure/gui/downloads/*/*
framework/infrastructure/gui/venv/*
*.pyc
*.env
*.sqlite3
