<footer class="pt-4">
    <div class="container d-none d-lg-block d-md-block">
        <div class="row d-flex justify-content-between">
            <div class="col-md-6 copy-right">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="{{ site.baseurl }}/assets/imgs/img_oea_logo.png" alt="OEA brand logo"/>
                    <small class="mx-4">Copyright Microsoft © 2021. All rights reserved.</small>
                </div>
            </div>

            <div class="col-md-6 text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="https://www.youtube.com/channel/UCojAPdH6vmb395HWP_2yUXg" class="d-none" target="_blank">
                        <i class="fab fa-youtube fa-2x px-2 youtube-red"></i>
                    </a>
                    <a aria-label="Go to Github page" href="https://github.com/microsoft/OpenEduAnalytics"
                       target="_blank">
                        <i class="fab fa-github fa-2x px-2 github-blue"></i>
                    </a>
                    <a target="_blank"
                       aria-label="Subscribe to OEA newsletter"
                       href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5NDr5sf_dtDjnfk_xBUTm5UMUVVMEVIVU5JTVpaTktSQTMwMzZaWDZRNi4u"
                       class="mx-2">
                        <button class="btn btn-light btn-bold">Subscribe to Newsletter</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-block d-md-none d-lg-none d-xl-none">
        <div class="row">
            <div class="col-12 text-right">
                <div class="d-flex justify-content-center align-items-center">
                    <a href="https://www.youtube.com/channel/UCojAPdH6vmb395HWP_2yUXg" class="d-none" target="_blank">
                        <i class="fab fa-youtube fa-2x px-2 youtube-red"></i>
                    </a>
                    <a aria-label="Go to Github page" href="https://github.com/microsoft/OpenEduAnalytics"
                       target="_blank">
                        <i class="fab fa-github fa-2x px-2 github-blue"></i>
                    </a>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-center my-3">
                <a target="_blank"
                   aria-label="Subscribe to OEA newsletter"
                   href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5NDr5sf_dtDjnfk_xBUTm5UMUVVMEVIVU5JTVpaTktSQTMwMzZaWDZRNi4u"
                   aria-label="Subscribe to Newsletter"
                   class="mx-2">
                    <button class="btn btn-light btn-bold">Subscribe to Newsletter</button>
                </a>
            </div>

            <div class="col-12 d-flex justify-content-center copy-right">
                <ul class="list-unstyled">
                    <li class="text-center my-2">
                        <img src="{{ site.baseurl }}/assets/imgs/img_oea_logo.png" alt="OEA brand logo"/>
                    </li>
                    <li class="text-center">
                        <div class="d-flex justify-content-start align-items-center">
                            <small class="mx-4">Copyright Microsoft © 2021. All rights reserved.</small>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>
