<header class="">
    <nav class="navbar fixed-top navbar-light bg-light d-none d-lg-block d-xl-block">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center w-100">
                <a href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/assets/imgs/img_oea_logo.png" alt="OEA logo" class="logo img-fluid"/>
                </a>

                <nav class="nav">
                    {% for item in site.data.navigation %}
                    <a id="{{item.id}}" class="nav-link" {% if page.url== item.link
                       %}style="color: #222;font-weight:bold;" {% endif %}
                       aria-current="page"
                       href="{{ site.baseurl }}{{ item.link }}">{{item.name}}</a>
                    {% endfor %}
                </nav>

                <a href="https://github.com/microsoft/OpenEduAnalytics" target="_blank">
                    <button class="btn btn-primary btn-lg btn-bold btn-nav py-0">
                        <i class="fab fa-github"></i> GitHub
                    </button>
                </a>
            </div>
        </div>
    </nav>
</header>

<nav class="navbar fixed-top navbar-light bg-light d-block d-lg-none d-xl-none">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a href="{{ site.baseurl }}/" aria-label="OEA Landing page">
                <img src="{{ site.baseurl }}/assets/imgs/img_oea_logo.png" alt="OEA logo" class="logo img-fluid"/>
            </a>

            <img src="{{ site.baseurl }}/assets/imgs/menu.svg" data-bs-toggle="offcanvas"
                 data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"
                 alt="menu icon"
                 class="menu img-fluid"/>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
     aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <a href="{{ site.baseurl }}/" class="mx-2">
            <img src="{{ site.baseurl }}/assets/imgs/img_oea_logo.png" class="logo img-fluid"/>
        </a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-unstyled">
            {% for item in site.data.navigation %}
            <li>
                <a  class="nav-link" {% if page.url== item.link %}style="color: #222;font-weight:bold;" {% endif %}
                   aria-current="page"
                   href="{{ site.baseurl }}{{ item.link }}">{{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="https://github.com/microsoft/OpenEduAnalytics" target="_blank" class="mx-3">
            <button class="btn btn-primary btn-lg btn-bold btn-nav py-0">
                <i class="fab fa-github"></i> GitHub
            </button>
        </a>
    </div>
</div>
