@import "utilities";

//Constants
$primaryColor: #065BFA;
$secondaryColor: #fec02f;
$backgroundColor: #FFFFFF;
$buttonColor: #065BFA;
$customerFeedbackColorBox: #E5EEFF;
$youtubeRed: #FF0000;
$gitHubBlue: #4078c0;
$microsoftAzureBlue: #1072c6;

$customerFeedbackPlaceholderColor: #003057;
$facebookBlue: #4267B2;
$twitterBlue: #1DA1F2;
$linkedinBlue: #0072b1;


//Colors
$lightGreen: #e5f5f3;
$lightYellow: #fff3d5;
$lightBlue: #d0ddf7;

$defaultBorderRadius: 0.5rem;


//Fonts size
$appFontSize: 0.8em;
$appMediumFontSize: 0.85em;
$appSmallFontSize: 0.78em;
