
.get-started-header {
  width: 100%;
  padding: 30px 0;
  background-color: $lightBlue;
  float: left;
}

.mini-nav {
  & li {
    font-size: $appMediumFontSize;
  }

  & a {
    color: #222;

    &:hover {
      color: $primaryColor;
    }
  }
}

.get-started-container {
  width: 100%;
  border-left: 1px solid #eaeaea;
  min-height: 600px;
  float: left;

  & h6 {
    line-height: 1.2rem;
  }
}

.container-wrapper {
  width: 100%;
  padding: 10px 0;
  float: left;

  &-blue {
    background-color: $lightBlue;
  }
}

.get-started-content-item {
  width: 100%;
  float: left;
  margin: 20px 0;
  min-height: 200px;
  //background-color: #888888;
}

.circular-number-pad {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: $secondaryColor;
}

@media (max-width: 768px) {
  .get-started-container {
    border: none;
  }
}


