//

.inspiration-header {
  width: 100%;
  background-color: $lightYellow;
  float: left;
}

.inspiration-main-wrapper {
  width: 100%;
  float: left;
  padding: 50px 0;
}

.blog-post-header {
  width: 100%;
  padding: 30px 0 0 0;
  background-color: $lightBlue;
  float: left;
}

.article-wrapper {
  h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.article-image-fit {
  height: 350px;
  object-fit: cover;
}

.overlay {
  margin-bottom: -200px;
  position: relative;
}
