@import "landing_page";


.mt-md-10 {
  margin-top: 0;
}

@media (min-width: 769px) {
  .mt-md-10 {
    margin-top: 5rem;
  }
}

.join-community-page-banner-section {
  // background-color: #d0ddf7;
}


.join-oea-hero-image img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .join-oea-hero-image img {
    margin-left: 3rem;
  }
}

.w-8 {
  width: 8%;
}

.pt-10 {
  padding-top: 5%;
}

.who-can-join-section .card p {
  //font-size: 0.75rem;
}

.benefits-of-oea-section {
  background-color: #FFF3D5;
}

.benefits-of-oea-section a {
  color: #0b62e4 ;
}

.benefits-image img {
  width: 15rem;
  padding-top: 1rem;

}

@media(min-width: 769px) {
  .benefits-image img {
      width: 65%;
      padding-top: 0;
      padding-right: 0;
  }
}
@media(min-width: 992px) {
  .benefits-image img {
      width: 100%;
      padding-top: 5rem;
      padding-right: 2rem;
  }
}
.fa-check {
  color: #003057;
}

.benefits-of-oea-card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 100%;
  border: 1px solid #065bfa;
}

.benefits-of-oea-card:hover {
  border: 2px solid #065BFA;
}

.benefits-of-oea-card p {
  margin-bottom: 0;
}

// @property --num {
//     syntax: "<integer>";
//     initial-value: 0;
//     inherits: false;
//   }

//   .oea-spotlight-section {
//     transition: --num 5s;
//     counter-set: num var(--num);
//     font: 800 40px system-ui;
//   }
//   .oea-spotlight-section::after {
//     content: counter(num);
//   }
//   .oea-spotlight-section:hover {
//     --num: 100;
//   }
