---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.greedy-nav .visible-links a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: #003057;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
    transform: scaleX(0) translate3d(0, 0, 0);
}

.page__footer {
    clear: both;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 3em;
    color: #000;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
    background-color: #003057;
}

/* Added by Gene */
.cards {
    display: flex;
    /*background-color: red;*/

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;

    padding-left: 8px;
    padding-right: 8px;
}

.cards__big_item {
    /* There will be 4 cards per row */
    flex-basis: 75%;
    padding-left: 8px;
    padding-right: 8px;
}

.faded_img {
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}