@import "constants";

.rai_icon {
  height: 90px;
  width: 90px;
  padding: 20px;
}

.title-section {
  padding: 0;
}

.rai_footer {
  padding: 0;
}

.title-section {
  background-color: #fff;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-section p {
  color: #000;
  width: 90%;
}

.resources-section {
  background-color: $lightBlue;
}

.system-principles-section {
  background-color: #fff;
}

.system-principles-section .card {
  //background-color: white;
  //cursor: pointer;
  //border: 1px #065bfa solid;
  //height: 100%;
  //border-radius: 5px;
}

.system-principles-section .card:hover {
  background-color: white;
  border: 2px #065bfa solid;
  cursor: pointer;
}

.rai_footer {
  background-color: $lightYellow;
}

.white-card {
  background-color: white !important;
  border: 2px #065bfa solid !important;
  cursor: pointer !important;
}

.selected-card {
  background-color: $primaryColor !important;
  border: 2px #065bfa solid !important;
  color: #FFF;
  cursor: pointer !important;
}

.text-cta {
  font-weight: bold;
  text-decoration: none !important;
}

.text-cta-underlined {
  font-weight: bold;
  text-decoration: underline !important;
}

.showVideo {
  display: block !important;
}

.display-behind {
  z-index: -1;
}

.ytp-watermark {
  display: none;
}

#watch-video-right-arrow {
  display: inline;
}

#watch-video-down-arrow {
  display: none;
}

#principles-video {
  height: 100%;
}

#youtubeIcon {
  position: relative;
  bottom: 250px;
}

#player-size {
  /* comment below line for responsive 16:9 full screen */
  width: 640px;
  /* only need to specify width since 16:9 ratio is  
       preserved / automatically applied */
}

#cropping-div {
  overflow: hidden;
}

#div-to-crop {
  overflow: hidden;
  margin-top: -51%;
  margin-bottom: -20%;
}

#player-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 128.25%;
}

#player {
  position: absolute;
  top: 0;
  width: 100%;
  height: 124%;
}


@media only screen and (max-width: 760px) {
  #watch-video-right-arrow {
    display: none;
  }

  #watch-video-down-arrow {
    display: inline;
    position: relative;
    top: 10px;
  }
}
