---
title: Contribute to OEA
layout: page
permalink: /contribute-to-oea/
---

<div>
    <!--Contribute to OEA page banner section-->
    <section class="mt-10 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-sm-10 col-xl-6 d-block d-lg-none d-xl-none mt-4">
                    <img src="{{ site.baseurl }}/assets/imgs/join-oea-hero-image.svg" class="img-fluid w-70"
                         alt="networking icon"/>
                </div>

                <div class="col-md-11 col-11 col-sm-10 col-lg-6 col-xl-6 mt-10">
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <h2>
                                Contribute to OEA
                            </h2>
                        </li>
                        <li>
                            <p>
                                OEA welcomes contributions through our GitHub repository. We encourage open sharing of
                                technical assets, ideas and feedback.
                            </p>
                        </li>
                        <li>
                            <p>
                                By contributing to OEA, you share in Microsoft’s
                                commitment to diversity and inclusion in all its open-source communities.
                            </p>
                        </li>
                        <li class="mt-4">
                            <a href="https://github.com/microsoft/OpenEduAnalytics/" target="_blank">
                                <button class="btn btn-primary btn-lg form-control-lg btn-bold">Contribute</button>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6 d-none d-lg-block">
                    <img src="{{ site.baseurl }}/assets/imgs/join-oea-hero-image.svg" class="img-fluid w-70"
                         alt="networking icon"/>
                </div>
            </div>
        </div>
    </section>


    <!--What Can you contrbute section-->
    <section class="who-can-join-section what-can-you-contribute-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-11 col-sm-10 col-lg-6 col-xl-6 text-center">
                    <ul class="list-unstyled">
                        <li>
                            <h4>What Can You Contribute to OEA?</h4>
                        </li>
                        <li>
                            <p>Technical assets can either be contributed to OEA individually or as part of a team
                                collaboration. These include:</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                {% for item in site.what_can_you_contribute %}
                <div class="col-11 col-md-6 col-sm-6 col-xl-3 col-lg-3 my-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <img src="{{ site.baseurl }}/{{item.image}}" class="img-fluid w-25 pt-3" alt=""/>
                                </li>
                                <li>
                                    <h5 class="pt-3"> {{item.title}}</h5>
                                </li>
                                <li>
                                    {{item.content}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!--Best Practices section-->
    <div class="">
        <img src="{{ site.baseurl }}/assets/imgs/img_yellow_backdrop_top.svg" class="img-fluid w-100" alt="">
    </div>
    <section class="challenges-section benefits-of-oea-section best-practices-section">
        <div class="holder">
            <div class="container">
                <div class="row text-center">
                    <ul class="list-unstyled">
                        <li>
                            <h4>Best Practices for Contributing to OEA</h4>
                        </li>
                    </ul>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11 col-sm-5 col-md-10 col-lg-6 col-xl-6 d-lg-flex d-xl-flex text-center">
                        <img class="img-fluid w-75 my-5" src="{{ site.baseurl }}/assets/imgs/benefits-of-oea-image.svg"
                             alt="community icon"/>
                    </div>


                    <div class=" col-11 col-sm-5 col-md-10 col-lg-6 col-xl-6 text-center mt-3 mt-md-0">
                        {% for item in site.best_practices_for_contributing %}
                        <div class="div">
                            <ul class="list-unstyled d-flex align-self-center">
                                <li>
                                    <i class="fas fa-check"></i>
                                </li>
                                <li class="px-3 text-start">
                                    {{item.content}}
                                </li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>


                </div>

            </div>
        </div>
    </section>
    <div class="">
        <img src="{{ site.baseurl }}/assets/imgs/img_yellow_backdrop_bottom.svg" class="img-fluid w-100" alt="">
    </div>

    <!--OEA spotlight section-->
    <section class="oea-spotlight-section my-5 text-center">
        <div class="container">
            <div class="row justify-content-center mb-0">
                <div class="col-md-6 text-center">
                    <h4>OEA Community Spotlight</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 mt-3 mx-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <img src="{{site.baseurl}}/assets/imgs/community-members.svg"
                                         class="img-fluid w-25 pt-3" alt=""/>
                                </li>
                                <li>
                                    <h2 class="fs-2 pt-3"><span id="0101">62</span>+</h2>
                                </li>
                                <li>
                                    <p>Community Members</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 mt-3 mx-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <img src="{{site.baseurl}}/assets/imgs/countries.svg" class="img-fluid w-25 pt-3"
                                         alt="">
                                </li>
                                <li>
                                    <h2 class="fs-2 pt-2"><span id="0102">37</span>+</h2>
                                </li>
                                <li>
                                    <p>Countries Represented</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 mt-3 mx-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <img src="{{site.baseurl}}/assets/imgs/school-outline.svg"
                                         class="img-fluid w-25 pt-3" alt="">
                                </li>
                                <li>
                                    <h2 class="fs-2 pt-2"><span id="0103">2,500,000</span>+</h2>
                                </li>
                                <li>
                                    <p>Students Impacted</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Contribution section-->
    <div class="">
        <img src="{{site.baseurl}}/assets/imgs/img_blue_backdrop_top.svg" class="img-fluid w-100" alt="">
    </div>
    <section class="contribute-section text-center">
        <div class="container container-offset">
            <div class="row justify-content-center mb-5">
                <div class="col-10 col-md-9 col-sm-8 col-xl-6 col-lg-6 text-center">
                    <ul class="list-unstyled">
                        <li>
                            <h3>Contribute to OEA</h3>
                        </li>
                        <li>
                            <p>
                                The OEA community is building shared technology resources of the modern data estate for
                                education, based on Azure Synapse Analytics. OEA GitHub contains a set of assets for
                                education system to implement the OEA reference architecture and start using all their
                                data more quickly and effectively.
                            </p>
                        </li>
                        <li>
                            <a target="_blank"
                               href="https://github.com/microsoft/OpenEduAnalytics/blob/main/CONTRIBUTING.md">
                                <button class="btn btn-primary btn-md btn-bold">Contribute</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="mb-3 blue-bg">
        <img src="{{site.baseurl}}/assets/imgs/img_blue_swivel_backdrop_bottom.svg" class="img-fluid w-100" alt="">
    </div>

</div>
