---
title: Get Started
layout: page
permalink: /get-started/
---

<div>
    <!--Get started page barner section-->
    <section class="get-started-header mt-3">
        <div class="container">
            <div class="row justify-content-center py-3">
                <div class="col-12 col-md-10 col-sm-10 col-lg-7 col-xl-7 text-center d-flex align-self-center justify-content-center">
                    <ul class="list-unstyled mt-5">
                        <li><h2>The Use Case Process</h2></li>
                        <li><img src="{{ site.baseurl }}/assets/imgs/img_use_case_process.svg"
                                 alt="OEA use case process diagram" class="img-fluid"/></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="">
        <img src="{{ site.baseurl }}/assets/imgs/img_blue_backdrop_bottom.svg" class="img-fluid w-100">
    </div>


    <div class="container">
        <section>
            <div class="row justify-content-center">
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3 d-none d-lg-block d-xl-block">
                    <div class="mini-nav">
                        <ul class="list-unstyled" id="list-use-case">
                            <li class="mb-4"><a href="#list-item-0">Get Started Quickly</a></li>
                            <li class="my-4"><a href="#list-item-1">Define the Problem</a></li>
                            <li class="my-4"><a href="#list-item-2">Setup the Modern Data Estate</a></li>
                            <li class="my-4"><a href="#list-item-3">Explore and Model Data</a></li>
                            <li class="my-4"><a href="#list-item-4">Communicate and Act</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-11 col-sm-10 col-lg-9 col-xl-9">
                    <div class="get-started-container" data-bs-target="#list-use-case" data-bs-spy="scroll"
                         data-bs-offset="0">
                        {% assign items = site.use_case_process | sort: "step" %}
                        {% for item in items %}
                        <div id="list-item-{{item.step}}" class="get-started-content-item mb-3 px-lg-5 px-xl-5 px-md-4 px-2" {% if item.step== 0
                             %}style="margin-top:0;" {% endif
                             %}>
                            <div class="d-flex justify-content-start my-2">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-1 m-0 p-0">
                                        <div {% if item.step== 0 %}style="display:none;" {% endif %}
                                             class="circular-number-pad rounded-circle mx-auto">
                                            <h5 class="pt-1">{{item.step}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <h6 {% if item.step== 0 %}style="display:none;" {% endif %}
                                            class="mx-3 mb-0 mt-0">
                                            {{item.title}}</h6>
                                    </div>
                                    <h4 {% if item.step !=0 %}style="display:none;" {% endif %}>
                                        {{item.title}}</h4>
                                </div>
                            </div>
                            <div class="mt-4">
                                {{item.content}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!--Contribution section-->
    <div class="w-100">
        <img src="{{ site.baseurl }}/assets/imgs/img_blue_backdrop_top.svg" class="img-fluid w-100">
    </div>
    <section class="contribute-section text-center">
        <div class="container container-offset">
            <div class="row justify-content-center mb-5">
                <div class="col-10 col-md-9 col-sm-8 col-xl-6 col-lg-6 text-center">
                    <ul class="list-unstyled">
                        <li>
                            <h3>Stay in touch with OEA!</h3>
                        </li>
                        <li>
                            <p>
                                We send out monthly newsletters to share updates from the OEA team and community, best
                                practices on data and Responsible AI, upcoming framework and technical asset releases
                                and skills and training resources.
                            </p>
                        </li>
                        <li>
                            <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5NDr5sf_dtDjnfk_xBUTm5UMUVVMEVIVU5JTVpaTktSQTMwMzZaWDZRNi4u"
                               target="_blank">
                                <button class="btn btn-primary btn-md btn-bold">Subscribe to Newsletter</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="mb-3 blue-bg w-100">
        <img src="{{ site.baseurl }}/assets/imgs/img_blue_swivel_backdrop_bottom.svg" class="img-fluid w-100">
    </div>
</div>
