---
title: Skills & Training
layout: page
permalink: /skills-and-training/
---

<div>
    <!--Skills and Training page barner section-->
    <section class="skills-training-page-banner-section ">
        <div class="container">
            <div class="row justify-content-center mt-10">

                <div class="col-md-10 col-lg-6 col-sm-10 col-xl-6 d-block d-lg-none d-xl-none mt-4 text-center text-md-center">
                    <img src="{{site.baseurl}}/assets/imgs/skills-training-hero-img.svg" class="img-fluid w-70"
                         alt="networking icon"/>
                </div>

                <div class="col-md-11 col-11 col-sm-10 col-lg-6 col-xl-6 mt-10">
                    <ul class="list-unstyled">
                        <li>
                            <h2>
                                Developing the skills needed by each role to implement OEA
                            </h2>
                        </li>
                        <li>
                            <p>
                                Education Systems and OEA Partners need to develop knowledge and skills on responsible
                                data and AI, data architecture, analytics and data science. Below you can find training
                                from the OEA team and from Microsoft Learn.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6 d-none d-lg-block text-center">
                    <img src="{{site.baseurl}}/assets/imgs/skills-training-hero-img.svg" class="img-fluid w-70"
                         alt="networking icon"/>
                </div>
            </div>
        </div>
    </section>
    <div class="">
        <img src="{{site.baseurl}}/assets/imgs/img_blue_backdrop_bottom.svg" class="img-fluid w-100">
    </div>


    <div class="container">
        <section class="training-courses-section">
            <div class="row">
                <div class="col-md-12">
                    <div class="container px-0">
                        <div class="row justify-content-between mb-3 mb-md-5">
                            <div class="col-md-6 ">
                                <ul class="list-unstyled">
                                    <li>
                                        <h4>Skills Training Courses</h4>
                                    </li>
                                    <li class="mini-nav">
                                        <p id="filtered-text" class="my-0 p-0 text-muted">All</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-6 text-right text-md-end">
                                <div class="dropdown">
                                    <a class="btn btn-primary dropdown-toggle" href="#" role="button"
                                       id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Filter
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li onclick="setFilter('All')">
                                            <div style="cursor: pointer;" class="dropdown-item">
                                                <p class="m-0 p-0 py-2">All</p>
                                            </div>
                                        </li>
                                        <li onclick="setFilter('PM')">
                                            <div style="cursor: pointer;" class="dropdown-item">
                                                <p class="m-0 p-0 py-2">Project Managers</p>
                                            </div>
                                        </li>
                                        <li onclick="setFilter('DAE')">
                                            <div style="cursor: pointer;" class="dropdown-item">
                                                <p class="m-0 p-0 py-2">Data Architects and Engineers</p>
                                            </div>
                                        </li>
                                        <li onclick="setFilter('DSDA')">
                                            <div style="cursor: pointer;" class="dropdown-item">
                                                <p class="m-0 p-0 py-2">Data Scientists and Data Analysts</p>
                                            </div>
                                        </li>
                                        <li onclick="setFilter('DST')">
                                            <div style="cursor: pointer;" class="dropdown-item">
                                                <p class="m-0 p-0 py-2">Data Strategy Team</p>
                                            </div>
                                        </li>

                                        <li onclick="setFilter('R')">
                                            <div style="cursor: pointer;" class="dropdown-item">
                                                <p class="m-0 p-0 py-2">Researchers</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-unstyled d-none">
                                    <li>
                                        <i class="fas fa-filter fa-2x"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="list-item-0">
                            {% for courses in site.data.skills_and_training %}
                            <h5 class="my-3 course-title">{{courses.use_case}}</h5>
                            <div class="mb-3 row justify-content-md-start justify-content-center justify-content-xl-start justify-content-lg-start justify-content-sm-start">
                                {% for skill in courses.courses %}

                                <div class="skill-card col-11 col-md-6 col-sm-6 col-xl-3 col-lg-4 my-2 {{skill.alias}}">

                                    <div class="card h-100 animate__animated animate__fadeIn">
                                        <a href="{{skill.url}}" target="_blank">
                                            <div class="card-header">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <img src="{{site.baseurl}}/assets/imgs/{{skill.image}}"
                                                             class="img-fluid w-20 pt-3" alt=""/>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card-body">
                                                <ul class="list-unstyled align-self-center pt-4 mt-3 mb-0">
                                                    <li>
                                                        <p class="">{{courses.use_case | upcase }}</p>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled mb-0">
                                                    <li>
                                                        <a href="{{skill.url}}" style="color: #222222;" target="_blank">
                                                            <h6>{{skill.name}}</h6>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <p class="pt-1">
                                                            {{skill.description | truncate: 70 }}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card-footer">
                                                <ul class="list-unstyled ">
                                                    <li>
                                                        <p class="text-black-50 small-text">{{skill.roles[0]}}
                                                            {% assign rolesCount = skill.roles.size | minus : 1 %}
                                                            {% if rolesCount != 0 %}
                                                            <a style="color:#065BFA;" data-toggle="popover"
                                                               data-bs-trigger="hover focus"
                                                               title="" role="button"
                                                               data-bs-content="{{skill.roles | join:', '}}">+
                                                                {{ rolesCount }}
                                                                more</a>
                                                            {% endif %}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>











