---
title: OEA Partners
layout: page
permalink: /partners/
---


<section class="mt-10">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8 col-lg-6 col-sm-10 col-xl-6 d-block d-lg-none d-xl-none mt-4 text-center text-md-center">
                <img src="{{site.baseurl}}/assets/imgs/find_image.svg"
                     alt="" class="img-fluid custom-width-75 text-center"/>
            </div>

            <div class="col-md-11 col-11 col-sm-10 col-lg-6 col-xl-6 mt-10">
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <h2>
                            OEA works with the best partners in the industry
                        </h2>
                    </li>
                    <li class="mt-3">
                        <p>
                            OEA Partners are third party Microsoft solution providers who can setup the OEA reference
                            architecture in your institution and bring your education data and AI use cases to life.
                        </p>
                    </li>
                    <li>

                        <div class="d-grid gap-2 d-md-block">
                            <a href="#find-oea-partner-section"
                               class="btn btn-primary btn-md btn-bold mb-3 form-control-lg">Find an OEA
                                Partner</a>
                            <a href="#oea_partner_section"
                               class="btn btn-light btn-md btn-bold mb-3 form-control-lg">Become an OEA Partner</a>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6 d-none d-lg-block text-lg-center">
                <img src="{{site.baseurl}}/assets/imgs/find_image.svg"
                     alt="" class="img-fluid custom-width-75"/>
            </div>
        </div>
    </div>

</section>


<div class="w-100">
    <img src="{{site.baseurl}}/assets/imgs/img_yellow_backdrop_top.svg"
         alt=""
         class="img-fluid w-100">
</div>
<section id="looking-for-help-section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-11 col-sm-10 col-lg-6 col-xl-6 text-center">
                <ul class="list-unstyled">
                    <li>
                        <h4>
                            Looking for Help Implementing OEA?
                        </h4>
                    </li>
                    <li>
                        <p>
                            We are building a network of OEA Partners to help education systems with:
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center">
            {% for item in site.data.oea_partners_looking_for_help %}
            <div class="col-11 col-md-5  col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 mt-3 mx-3">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3 text-center">
                                <img src="{{site.baseurl}}/assets/imgs/{{item.image}}"
                                     alt="" class="img-fluid w-25"/>
                            </li>
                            <li class="text-center">
                                <p>{{item.message}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
</section>
<div class="w-100">
    <img src="{{site.baseurl}}/assets/imgs/img_yellow_backdrop_bottom.svg"
         alt=""
         class="img-fluid w-100">
</div>


<section id="find-oea-partner-section">
    <div class="container mt-10">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-11 col-sm-10 col-lg-6 col-xl-6 text-center">
                <ul class="list-unstyled">
                    <li>
                        <h2>
                            Find an OEA Partner
                        </h2>
                    </li>
                    <li class="">
                        <p>
                            A list of qualified OEA Partners will be listed here soon. To get help finding a partner to
                            support setting up your modern data estate, please email <span class="text-cta"><a
                                href="mailto:openeduanalyticsteam@microsoft.com">openeduanalyticsteam@microsoft.com</a></span>.
                        </p>
                    </li>

                </ul>
            </div>
        </div>


        <div class="row mt-3 justify-content-center text-center d-none">
            <div class="col-md-9">
                <div class="row g-0">
                    <div class="col-md-3">
                        <p><i class="fa fa-filter" aria-hidden="true"></i>
                            <span>Filter by Geography</span></p>
                    </div>
                    <div class="col-md-1">
                        <input type="radio" name="filter" id="all" value="all" checked
                               onclick="addCheckedAttr('all')">
                        <p class="d-inline">All</p>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="filter" id="africa" value="africa" onclick="addCheckedAttr('africa')">
                        <p class="d-inline">Africa</p>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="filter" id="asia" value="asia" onclick="addCheckedAttr('asia')">
                        <p class="d-inline">Asia</p>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="filter" id="america" value="america"
                               onclick="addCheckedAttr('america')">
                        <p class="d-inline">America</p>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="filter" id="europe" value="europe" onclick="addCheckedAttr('europe')">
                        <p class="d-inline">Europe</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 justify-content-center d-none" id="all_list">

            {% for partner in site.data.oea_partners %}
            <div class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}"
                                     alt="" height="50" class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text mt-2">
                                <small class="mb-0">{{ partner.location }}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-5 justify-content-center" id="asia_list">

            {% assign asia_partners = site.data.oea_partners | where_exp: "item", "item.location == 'Asia'" %}

            {% for partner in asia_partners %}
            <div class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}"
                                     alt="" height="50" class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.location }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-5 justify-content-center" id="europe_list">

            {% assign europe_partners = site.data.oea_partners | where_exp: "item", "item.location == 'Europe'" %}

            {% for partner in europe_partners %}
            <div class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}"
                                     alt="" height="50" class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.location }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-5 justify-content-center" id="africa_list">

            {% assign africa_partners = site.data.oea_partners | where_exp: "item", "item.location == 'Africa'" %}

            {% for partner in africa_partners %}
            <div class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}"
                                     alt="" height="50" class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.location }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="row mt-5 justify-content-center" id="america_list">

            {% assign america_partners = site.data.oea_partners | where_exp: "item", "item.location == 'America'" %}

            {% for partner in america_partners %}
            <div class="col-11 col-md-5 col-sm-8 col-lg-3 col-xl-3 g-lg-0 g-xl-3 my-lg-3 my-2 my-xl-4 mx-xl-3 mx-lg-3 mx-1 my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <img src="{{site.baseurl}}/assets/imgs/partners/{{ partner.logo }}"
                                     alt="" height="50" class="img-fluid w-25"/>
                            </li>
                            <li style="color: #055BFA;">
                                <h6>{{ partner.name }}</h6>
                            </li>
                            <li>
                                <h6 class="mb-0">{{ partner.contact_person }}</h6>
                            </li>
                            <li>
                                <p class="mb-0">{{ partner.email }}</p>
                            </li>
                            <li class="grey-text">
                                <p class="mb-0">{{ partner.location }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- Join OEA Partners section -->
<section id="oea_partner_section">
    <div class="container">
        <div class="row justify-content-center g-0 my-5">
            <div class="col-11 col-sm-5 col-md-10 col-lg-6 col-xl-6 d-lg-flex d-xl-flex text-center">
                <img src="{{site.baseurl}}/assets/imgs/OEA_partner_icon.svg"
                     alt=""
                     class="img-fluid custom-width-60 my-5 my-lg-3 my-xl-3"/>
            </div>

            <div class="col-11 col-sm-5 col-md-10 col-lg-6 col-xl-6 text-start mt-3 mt-md-0">
                <ul class="list-unstyled">
                    <li>
                        <h2>
                            OEA Partner Benefits
                        </h2>
                    </li>

                    <li>
                        <p>
                            We have a community of education systems and universities around the world seeking to
                            implement OEA and they need implementation partners!
                        </p>
                    </li>

                    <li>
                        <p>
                            As an OEA Partner, you get the following benefits:
                        </p>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li class="my-2"><i style="font-size: 10px;" class="fas fa-circle fa-1x mx-2"></i> OEA
                                Technical
                                Training and Microsoft
                                Teams
                                collaboration channel.
                            </li>
                            <li class="my-2"><i style="font-size: 10px;" class="fas fa-circle fa-1x mx-2"></i> Quarterly
                                OEA
                                Partner meetings and
                                trainings.
                            </li>
                            <li class="my-2"><i style="font-size: 10px;" class="fas fa-circle fa-1x mx-2"></i> OEA
                                technical
                                support services.
                            </li>
                            <li class="my-2"><i style="font-size: 10px;" class="fas fa-circle fa-1x mx-2"></i> Inclusion
                                on
                                OEA recognized partner
                                page.
                            </li>
                            <li class="my-2"><i style="font-size: 10px;" class="fas fa-circle fa-1x mx-2"></i> Access to
                                advanced product roadmap.
                            </li>
                        </ul>
                    </li>
                    <li class="mx-2">
                        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5NDr5sf_dtDjnfk_xBUTm5UMlo1NlZUVkJSUkpYSlNXTFhUNkxJVlVOSS4u"
                           target="_blank"
                           class="btn btn-primary btn-md btn-bold mb-3"> Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- End of Join OEA partners Section -->


<!--Microsoft Partner section-->
<div class="w-100">
    <img src="{{site.baseurl}}/assets/imgs/img_blue_backdrop_top.svg"
         alt=""
         class="img-fluid w-100">
</div>
<section class="contribute-section text-center">
    <div class="container container-offset">
        <div class="row justify-content-center mb-5">
            <div class="col-10 col-md-9 col-sm-8 col-xl-6 col-lg-6 text-center">
                <ul class="list-unstyled">
                    <li>
                        <h3>
                            Become an OEA Partner
                        </h3>
                    </li>
                    <li>
                        <p>
                            If your organization is already a Microsoft Partner, you can sign up to join the OEA Partner
                            Program. After filling the form, our team will get in touch with next steps. In the
                            meantime, your data team can start learning the technologies and skills needed for OEA under
                            the Skills and Training tab.
                        </p>
                    </li>
                    <li>
                        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5NDr5sf_dtDjnfk_xBUTm5UMlo1NlZUVkJSUkpYSlNXTFhUNkxJVlVOSS4u"
                           target="_blank">
                            <button class="btn btn-primary btn-md btn-bold form-control-lg">Sign Up
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="mb-3 blue-bg w-100">
    <img src="{{site.baseurl}}/assets/imgs/img_blue_swivel_backdrop_bottom.svg"
         alt="" class="img-fluid w-100">
</div>
