azure-mgmt-authorization>=2.0.0
azure-mgmt-resource>=18.0.0
azure-mgmt-synapse>=2.0.0
azure-mgmt-storage>=19.0.0
azure-mgmt-keyvault>=9.1.0
azure-synapse-artifacts>=0.8.0
azure-identity>=1.5.0
azure-cli-core>=2.28.1
pyspark
delta-spark
faker