---
layout: default
---
<div class="">
    <section class="blog-post-header mt-3">
        <div class="container">
            <div class="row justify-content-center py-3 overlay">
                <div class="col-md-10 col-lg-8 col-xl-7 col-sm-10 text-start d-flex align-self-center justify-content-center">
                    <ul class="list-unstyled mt-5">
                        <li class="mt-3"><h3>{{page.title}}</h3></li>
                        <li>
                            <small class="text-muted">{{ page.date | date: "%-d %B %Y" }}</small>
                        </li>
                        <li><img src="{{ site.baseurl }}{{page.image}}" class="img-fluid my-3"/></li>
                        <li class="my-1">
                            <small class="mx-2 text-muted">Share this article: </small>
                        </li>
                        <li>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a target="_blank"
                                       href="https://www.linkedin.com/shareArticle?mini=true&url=https://ivybarley.github.io{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{content | strip_html | strip_newlines | truncate: 126}}&source=LinkedIn">
                                        <i class="fab fa-linkedin fa-2x px-1 linkedin-blue"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <div class="fb-share-button"
                                         data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"
                                         data-size="small"><a target="_blank"
                                                              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                                                              class="fb-xfbml-parse-ignore">
                                        <i class="fab fa-facebook fa-2x px-1 facebook-blue"></i>
                                    </a></div>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank"
                                       href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://ivybarley.github.io{{ site.baseurl }}{{ page.url }}">
                                        <i class="fab fa-twitter fa-2x px-1 twitter-blue"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="">
        <img src="{{ site.baseurl }}/assets/imgs/img_blue_backdrop_bottom.svg" class="img-fluid w-100">
    </div>

    <div class="container">
        <div class="row justify-content-center mt-10 mb-5">
            <div class="col-11 col-lg-7 col-md-10 col-xl-6 mt-4 mb-3">
                <ul class="list-unstyled mt-lg-0 mt-xl-0 mt-md-0 mt-5">
                    <li> {{ content }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--<h1>{{ page.title }}</h1>-->
<!--<p>{{ page.date | date_to_string }} - {{ page.author }}</p>-->

<!--{{ content }}-->
